@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead"> ASP.NET on tasuta veebi raamistik
        et ehitada vägevaid veebilehti ja veebirakendusi kasutades HTML, CSS ja JavaScripti. Selle pärast tegingi enda CV ASP.NET'is.</p>
    <p>Tegin siis sellise veebilehe, kuhu saab lisada enda CV ja vaadata teiste omasid, muuta kõiki CV'sid(tean, et see pole just tark tegu, aga hetkel jäi nii)</p>
    <p> CV'd leiab ülevalt "CV'd" ja lisada saab dropdown listist "CV loomine".</p>
    <p> Ideid oli rohkem kui teha jõudis, nt mitmekeelsus, mitu regiooni, veateated jne.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

